*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  backface-visibility: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-5;
  border-radius: 50rem;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: $color-4;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}
