@import './variables';
@import './reset';

.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) repeat(10, minmax(min-content, 120px)) minmax(
      0,
      1fr
    );
  grid-template-rows: 6rem repeat(7, min-content);
}

.btn {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border: none;
  font-family: $font-primary;

  &:focus {
    outline: none;
  }

  &-primary {
    background-color: $color-5;
    color: $color-4;

    &:hover,
    &:active {
      background-color: darken($color: $color-5, $amount: 20%);
      color: lighten($color: $color-4, $amount: 50%);
    }
  }

  &-secondary {
    background-color: $color-4;
    color: $color-1;

    &:hover,
    &:active {
      background-color: darken($color: $color-4, $amount: 20%);
      color: darken($color: $color-1, $amount: 50%);
    }
  }
}

.card {
  padding: 2rem;
  box-shadow: 5px 5px 10px $color-3;
  background-color: #fff;
}
