// @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');
@import './fonts';
@import './variables';
@import './reset';

.container {
  display: grid;

}

.xl-container {
  display: grid;
  grid-template-columns:
    minmax(3rem, 1fr) repeat(10, minmax(min-content, 140px))
    minmax(3rem, 1fr);
}

.btn {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border: none;
  font-family: 'Dosis', sans-serif;

  &:focus {
    outline: none;
  }

  &-primary {
    background-color: $color-5;
    color: $color-4;

    &:hover,
    &:active {
      background-color: darken($color: $color-5, $amount: 20%);
      color: lighten($color: $color-4, $amount: 50%);
    }
  }

  &-secondary {
    background-color: $color-4;
    color: $color-1;

    &:hover,
    &:active {
      background-color: darken($color: $color-4, $amount: 20%);
      color: darken($color: $color-1, $amount: 50%);
    }
  }
}

.card {
  padding: 2rem;
  box-shadow: 5px 5px 10px $color-3;
  background-color: #fff;
}
